extends ./layout.jade

block title
  title Self-Service Email Update Extension

block headerscript
  script(type='text/javascript').
    if (!sessionStorage.getItem("token")) {
      window.location.href = '#{baseUrl}/login';
    }

block content
  script(type='text/babel').
    var App = React.createClass({
      render: function() {
        return (
          <div className="content-wrapper">
            <div className="content-header">
              <h1>Self-Service Email Update</h1>

              <div className="content-header">
                <ul className="nav nav-tabs">
                  <li className="Active">Settings</li>
                </ul>
              </div>
              <div className="widget-flat content">
                <form id="connection-setup-form">
                  <div className="form-group">
                    <label className="col-xs-2 control-label">Choose a Connection</label>
                    <div className="col-xs-5"><select className="form-control" /></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        );
      }
    });

    ReactDOM.render(
      <App />,
      document.getElementById('application')
    );
